@import '../../style/variables';

.gallery__page .container-slider {
  @media (min-width: $small-phone-screen-width) {
    margin-top: 0px;
  }
  @media (min-width: $big-phone-screen-width) {
    margin-top: 50px;
  }
}

.gallery {
  padding-left: 0px;
}

.gallery__tags {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  padding-left: 0px;
  @media (min-width: $small-phone-screen-width) {
    margin-top: 0px;
  }
  @media (min-width: $big-phone-screen-width) {
    margin-top: 10px;
  }
}

.gallery__tags li {
  margin-left: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  min-width: 115px;
  width: auto;
  height: 25px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: $heading-background-color;
  border-radius: 10px;
  @media (min-width: $small-phone-screen-width) {
    font-size: 10px;
    min-width: 84px;
    height: 18px;
  }
  @media (min-width: $big-phone-screen-width) {
    font-size: 14px;
    min-width: 115px;
    height: 25px;
    box-sizing: content-box;
  }
}

.owner-details {
  @media (min-width: $small-phone-screen-width) {
    margin-top: 0px;
  }
  @media (min-width: $big-phone-screen-width) {
    margin-top: 24px;
  }
  display: flex;
  margin-bottom: 21px;
  justify-content: center;
  align-items: center;
}

.owner-details-rating {
  @media (min-width: $small-phone-screen-width) {
    margin-top: 0px;
  }
  @media (min-width: $big-phone-screen-width) {
    margin-top: 24px;
  }
}

.owner-details p {
  color: $heading-background-color;
  @media (min-width: $small-phone-screen-width) {
    font-size: 12px;
  }
  @media (min-width: $big-phone-screen-width) {
    font-size: 18px;
  }
  font-weight: 500;
  max-width: 100px;
  text-align: right;
}

.owner-details img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
  margin-left: 10px;
  margin-right: 0px;
  @media (min-width: $small-phone-screen-width) {
    width: 32px;
    height: 32px;
  }
  @media (min-width: $big-phone-screen-width) {
    width: 64px;
    height: 64px;
  }
}

.rating-star {
  @media (min-width: $small-phone-screen-width) {
    width: 13px;
    height: 13px;
  }
  @media (min-width: $big-phone-screen-width) {
    width: 24px;
    height: 24px;
  }
}

.card__description {
  display: flex;
  @media (min-width: $small-phone-screen-width) {
    flex-direction: column;
    width: 335px;
    justify-content: center;
    align-items: center;
    padding-bottom: 0px;
  }
  @media (min-width: $big-phone-screen-width) {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}

.card__left-half {
  display: flex;
  flex-direction: column;
}

.card__left-half p {
  @media (min-width: $small-phone-screen-width) {
    font-size: 14px;
  }
  @media (min-width: $big-phone-screen-width) {
    font-size: 18px;
  }
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 20px;
}

.card__left-half h1 {
  @media (min-width: $small-phone-screen-width) {
    font-size: 18px;
  }
  @media (min-width: $big-phone-screen-width) {
    font-size: 36px;
  }
  font-weight: 500;
  color: $heading-background-color;

  @media (min-width: $small-phone-screen-width) {
    margin-top: 15px;
  }
  @media (min-width: $big-phone-screen-width) {
    margin-top: 30px;
  }

  margin-bottom: 0px;
  text-align: left;
  @media (min-width: $small-phone-screen-width) {
    width: 335px;
  }
  @media (min-width: $big-phone-screen-width) {
    width: 658px;
  }
}

.card__right-half {
  width: 100%;
  display: flex;
  margin-top: 0px;
  @media (min-width: $small-phone-screen-width) {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -20px;
  }
  @media (min-width: $big-phone-screen-width) {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 0px;
  }
}

.gallery__page .collapse {
  display: flex;
  @media (min-width: $small-phone-screen-width) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
  }
  @media (min-width: $big-phone-screen-width) {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
  }
}

.gallery__page .collapse__item {
  @media (min-width: $small-phone-screen-width) {
    max-width: 335px;
  }
  @media (min-width: $big-phone-screen-width) {
    max-width: 582px;
  }
}

.gallery__page .collapse__item .collapse__heading {
  @media (min-width: $small-phone-screen-width) {
    max-width: 335px;
    max-height: 30px;
  }
  @media (min-width: $big-phone-screen-width) {
    max-width: 582px;
    max-height: 52px;
  }
}

.gallery__page .collapse__heading p {
  @media (min-width: $small-phone-screen-width) {
    font-size: 13px;
  }
  @media (min-width: $big-phone-screen-width) {
    font-size: 18px;
  }
}

.gallery__page .collapse__content {
  @media (min-width: $small-phone-screen-width) {
    max-width: 335px;
  }
  @media (min-width: $big-phone-screen-width) {
    max-width: 582px;
  }
}

.gallery__page .collapse__content li {
  @media (min-width: $small-phone-screen-width) {
    font-size: 13px;
  }
  @media (min-width: $big-phone-screen-width) {
    font-size: 18px;
  }
}
