@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
$main-font: Montserrat, sans-serif;
$panel-backdrop-color: #f6f6f6;
$heading-background-color: #ff6060;
$small-phone-screen-width: 1px;
$big-phone-screen-width: 768px;
$laptop-screen-width: 1024px;
$desktop-screen-width: 1200px;
$large-desktop-screen-width: 1500px;
