#root {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
}

/* ajouter vars : couleurs et breakpoints, styles communs à toutes pages (transition etc). layout au plus haut niveau, vs sidebar : au niv composant. */
