.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1240px;
  margin-bottom: 30px;
}

.kasa_logo {
  height: 68px;
  width: 210px;
}

.header_links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

li {
  color: black;
  margin: 5px;
  list-style: none;
}

a:link,
visited,
active {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
