@import '../../style/variables';

.header-container {
  margin-bottom: 30px;
  @media (min-width: $small-phone-screen-width) {
    width: 335px;
    height: 47px;
  }
  @media (min-width: $big-phone-screen-width) {
    width: 1240px;
    height: 68px;
  }
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.kasa_logo {
  @media (min-width: $small-phone-screen-width) {
    height: 47px;
    width: 145px;
  }
  @media (min-width: $big-phone-screen-width) {
    height: 68px;
    width: 210px;
  }
}

.header-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  @media (min-width: $small-phone-screen-width) {
    text-transform: uppercase;
    font-size: 12px;
  }
  @media (min-width: $big-phone-screen-width) {
    text-transform: none;
    font-size: 24px;
  }
}

li {
  color: black;
  margin: 5px;
  list-style: none;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: black;
}
