body {
  font-family: 'Montserrat', sans-serif;
  max-width: 1240px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.kasa_logo {
  height: 210px;
  width: 68px;
}

.header_links {
  display: flex;
  justify-content: space-around;
}

li {
  color: black;
  margin: 5px;
  list-style: none;
}

a:link,
visited,
active {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
