@import '../../style/variables';

.collapse {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .collapse__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 1023px;
    border-radius: 5px;
    @media (min-width: $small-phone-screen-width) {
      width: 460px;
    }
    @media (min-width: $big-phone-screen-width) {
      width: 750px;
    }
    @media (min-width: $laptop-screen-width) {
      width: 960px;
    }
    @media (min-width: $desktop-screen-width) {
      width: 1023px;
    }

    .collapse__heading {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 52px;
      width: 1023px;
      box-sizing: border-box;
      color: white;
      background: $heading-background-color;
      font-size: 24px;
      font-weight: 700;
      margin-left: 10px;
      margin-right: 10px;
      border-radius: 5px;
      padding: 0px 20px 0px 20px;
      @media (min-width: $small-phone-screen-width) {
        width: 460px;
      }
      @media (min-width: $big-phone-screen-width) {
        width: 750px;
      }
      @media (min-width: $laptop-screen-width) {
        width: 960px;
      }
      @media (min-width: $desktop-screen-width) {
        width: 1023px;
      }
    }
  }
}

.collapse__content {
  height: 0px;
  overflow: hidden;
  transition: height 1s ease;
}

.expanded {
  height: auto;
  box-sizing: border-box;
  background-color: $panel-backdrop-color;
  font-size: 16px;
  padding: 20px 20px 20px 20px;
  //animation: translateY 400ms ease;
}

@keyframes translateY {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }

  50% {
    opacity: 0;
    transform: translateY(-5%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.rotate-up {
  transform: rotate(0deg);
}

.rotate-down {
  transform: rotate(180deg);
}

.arrow-icon {
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}
