.collapse-item {
  margin-top: 20px;
  width: 1023px;
  border-radius: 5px;
}

.collapse-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 52px;
  width: 1023px;
  color: white;
  background: #ff6060;
  font-size: 24px;
  font-weight: 700;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
}

.collapse-content {
  width: 1023px;
  background-color: #f6f6f6;
  font-size: 16px;
  font-weight: 100;
  margin-top: 30px;
  /* line-height: 17.11px;
text-align: left; */
}
