.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: flex-end;
  background-color: black;
  color: white;
  height: 209px;
  width: 1440px;
  margin-top: 20px;
}

.footer img {
  margin-top: auto;
}

.para {
  margin-top: auto;
}
