@import '../../style/variables';

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: flex-end;
  background-color: black;
  color: white;
  height: 209px;
  width: 1440px;
  margin-top: 20px;
  @media (min-width: $small-phone-screen-width) {
    width: 515px;
  }
  @media (min-width: $big-phone-screen-width) {
    width: 840px;
  }
  @media (min-width: $laptop-screen-width) {
    width: 1075px;
  }
  @media (min-width: $desktop-screen-width) {
    width: 1277px;
  }
  @media (min-width: $large-desktop-screen-width) {
    width: 1440px;
  }

  .footer_para {
    margin-top: auto;
  }
}

.footer img {
  margin-top: auto;
}
